<div class="container padding-navbar">

<p id="notice"><%= notice %></p>

<h1>Admin</h1>

<div id="adminDashboardRow" class="row">

  <!-- 1st column --> 
  <div id="adminDashboardCol1" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

     <h2><a href="/admin/dogs">Dogs</a></h2>

  </div>

  <!-- 2nd column --> 
  <div id="adminDashboardCol2" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

    <h2><a href="/admin/locations">Locations</a></h2>

  </div>

    <!-- 3rd column --> 
  <div id="adminDashboardCol3" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

     <h2><a href="/admin/users">Users</a></h2>

  </div>

  <div id="adminDashboardCol4" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

     <h2><a href="/admin/people">People</a></h2>

  </div>

    <div id="adminDashboardCol4" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

     <h2><a href="/pages">Pages</a></h2>

  </div>

  <div id="adminDashboardCol4" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

     <h2><a href="/admin/sponsorships">Sponsorship</a></h2>

  </div>

</div>
</div>
