<p id="notice"><%= notice %></p>

<h1>Admin</h1>

<div id="adminDashboardRow" class="row">

  <!-- 1st column --> 
  <div id="adminDashboardCol1" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

     <h2>Dogs</h2>

    <a href="/admin/dogs">View More</a>

  </div>

  <!-- 2nd column --> 
  <div id="adminDashboardCol2" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

    <h2>Locations</h2>

    <a href="/admin/locations">View More</a>

  </div>

    <!-- 3rd column --> 
  <div id="adminDashboardCol3" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 well well-large">

     <h2>Users</h2>

    <a href="devise/registrations#new" >View More</a>

  </div>


</div>
