
<body>



  <%= render 'home'  %>

  <div class="container-fluid homepage">

    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="container-fluid text-center">
          <h1> <%=Dog.for_adoption.count%> lovely dogs need food and are looking for a home. Can you help them? </h1>
        </div>
      </div>

      <div class="col-md-8">

      <img class="img-responsive" src= "https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/13528888_529589883908079_4518685806591877288_n.jpg?oh=fc5aad2b3af2d4129389b253d7cd89d0&oe=587ED790" alt="Image">      
      </div>

      <div class="col-md-4">
       <div class="container-fluid text-center">
        <%= render partial: "featured", collection: @dogs.featured, as: 'dog' %>
      </div>
    </div> 
  </div>

<h4> Dogs for Adoption </h4>
  <div class="row">
    <%= render partial: "dogcard", collection: @dogs, as: 'dog' %>
  </div>

</div>

<footer class="container-fluid text-center">
  <p>Saving one life at a time</p>
</footer>


