// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #fff;
  color: #006633;
}

.navbar-inner {
min-height: 60px;
}

.image150{
	height:150px;
  width:150px;
  object-fit:cover; 
  

}

.image200{
  height:200px;
  width:200px;
  object-fit:cover; 
  

}

.imagewidth100{
	width:100px;
}
.imagesquare150{
  height:150px;
  width:150px;
  overflow: hidden;
}


.imageheight400{
  height:400px;
}
