// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
margin-bottom: 0;
border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
margin-top: 25px;
background-image: linear-gradient(to right, black,  transparent), url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/15420857_598093753724358_8759740921449251239_n.jpg?oh=0735bf7a8f10e8f8fdaabf69707eeb5d&oe=58F0C59A");
background-size: cover;
background-position: 10%;
height: 200px;
color: white;
text-align: left;
line-height: 70%;


p{
	margin: 15px;
	font-family: 'Coming Soon', cursive;

}
}
 

.carousel-inner img {
width: 100%; /* Set width to 100% */
margin: auto;
max-height:600px;
object-fit:cover; 
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
display: none;
}
}


.image-container {
background-image: url('http://i.stack.imgur.com/GA6bB.png');
background-size:cover;
background-repeat:no-repeat;
width:200px;
height:200px;
} 

/* Add a dark gray background color to the modal header and center text */
.modal-header, h4, .close {
background-color: #333;
color: #fff !important;
text-align: center;
font-size: 30px;
}

.modal-header, .modal-body {
padding: 20px 20px;
}

.homebtn {
border: black;

}

.padding {
padding:20px;


}


.homepage > .row  {
padding-bottom: 60px; 
}

.dogcard {
margin-top: 20px;
height: 600px;



.dogcard-content {
border: 1px solid #eee;
background-color: #E1EFE8;

}



.dogcard-image {
height: 400px;
width: 100%;
object-fit: cover;
}
.img_dog {
height: 200px;
z-index: 1;

}

.hdblogo {
height: 50px;
vertical-align: top;
z-index: 2;
position:absolute;
top: 5px;
left: 5px;
background-color: white;
border-radius: 8px;

}



.quote-row-content {
height: 30px;
margin:5px;
}


.dogcard-btn{

border: 1px solid #74A571;
background: #74A571;
font-size: 15px;
font-style:  semibold;
color: #FFFFFF;
}


}

.logo {
height: 51px;
}


.hdblogo {
height: 50px;
}



.img_featureddog {
height: 500px;
width: 100%;
object-fit:cover; 
}

.img_aboutdog{
height: 400px;
width: 400px;
object-fit:cover; 
}


.techladies{
color:	#7A378B;
}

// testing:
.retina .crop img {
transform: scale(.5, .5);
}

.navbar-bottom-color
{background-color: #BCD4B4;
}

.footerlogo{
	height:25px;
}


.mainlogo{
text-align:center;
	height:300px;
	display: block;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
margin-bottom: 50px;
	
	

}

.mainbackground{
	margin-top: 25px;
background-image: radial-gradient(white, transparent), url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/15420857_598093753724358_8759740921449251239_n.jpg?oh=fb6232e7d7d8d0864345ea41c5205c88&oe=5918529A");
background-size: cover;
color: white;
line-height: 70%;
margin-left: 0%;
margin-right: 0%;

}

.container-full {
  margin: 0 auto;
  width: 100%;
}


.name{
	font-family: 'Lato', sans-serif;
}

.headline{
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;

}

.plaintext{
font-family: 'Lato', sans-serif;
}



