<p id="notice"><%= notice %></p>

<div class="row droidFont">

	<!-- side column -->	
	<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center">&nbsp;</div>


	<!-- center content -->
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">	

		<div class= "row panel droidFont fontSizeLarge">

			<%= render 'show', location: @sponsorship %>

			<!-- buttons -->

			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center paddingTopBot15px  ">

				<%= link_to 'Edit', edit_admin_sponsorship_path(@sponsorship), :class => 'btn btnGreen btn-block fontSizeMedium' %>
			</div>	

			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center paddingTopBot15px ">

				<%= link_to 'Back', admin_dog_path(@dog_id), :class => 'btn btnWhite btn-block fontSizeMedium'  %>
			</div>	

		</div>	

	</div>

	<!-- side column -->	
	<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center">&nbsp;</div>

</div>

