<div class="row paddingTopBot15px ">

    <!-- side column -->
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center">&nbsp;</div>

    <!-- center content -->
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

    	<div class= "row panel droidFont fontSizeLarge">

        <%= render 'show', location: @sponsorship %>


        <!-- buttons -->

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 actions paddingTopBot15px ">
          <%= link_to 'Edit', edit_admin_sponsorship_path(@sponsorship), :class => 'btn btnGreen btn-block fontSizeMedium'  %>
        </div>

         <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 actions paddingTopBot15px text-right">
          <%= link_to 'View Person', admin_person_path(@sponsorship.person), :class => 'btn btn-block btnWhite fontSizeMedium'  %>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 actions paddingTopBot15px text-left">
          <%= link_to 'View Dog', admin_dog_path(@sponsorship.dog), :class => 'btn btn-block btnWhite fontSizeMedium'  %>
        </div>

      </div>

    </div>

  <!-- side column -->
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center">&nbsp;</div>

</div>






